body {
    background-color: hsl(45, 18%, 85%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Introdução*/
#introduction-section {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    height: 95dvh;
    overflow: hidden;
}
#introduction-message {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 2em;
}

.destaque {
    color: #E0115F;
}

/*Sobre mim*/
.content-sections {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#about-me-section {
    width: 100%;
    height: 80dvh;
}
.section-title {
    font-size: 2.5em;
    color: #E0115F;
    text-decoration: underline black;
    font-weight: bold;
    margin-top: 100px;
}

#about-me-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    height: 100%;
}
#about-me-content p {
    font-size: 1.5em;
    max-width: 700px;
    line-height: 1.5em;
}

#introduction-pfp {
    display: flex;
    justify-content: center;
}
#introduction-pfp img {
    width: 50%;
    min-width: 250px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Conhecimentos section*/

#knowledge-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20dvh;
}
#knowledge-section h2 {
    margin-bottom: 100px;
}

#knowledge-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 70%;
}

.knowledge-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0115F;
    color: white;
    padding: 20px;
    border-right: 1px solid black;
}
.knowledge-content-container:last-child {
    border-right: none;
}

.knowledge-content-container h3 {
    margin-bottom: 20px;
}
#skills-icons img {
    width: 50px;
    margin-right: 5px;
}

/*Projetos section */
#project-section h2 {
    margin-bottom: 100px;
}
#projects-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70%;
    min-width: 500px;
}
.projects-content {
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: #E0115F;
    color: white;
}
.project-info {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #E0115F; 
    padding: 20px;
    min-height: 400px;
}
.project-info h3 {
    margin-bottom: 10px;
}
.project-info p {
    margin-bottom: 5px;
}
.project-info p:last-child {
    margin-bottom: 30px;
}
.project-info img {
    width: 30px;
}
.project-image {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
}
.project-image img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    min-height: 100%;
    max-height: 425px;
}
.visit-container {
    position: absolute;
    top: 65%;
}
.visit-project {
    display: inline-block;
    border: 3px solid #E0115F;
    border-bottom: 3px solid white;
    padding: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    transition: ease 0.3s;
}
.visit-project:hover {
    border: 3px solid white;
    background-color: white;
    color: #E0115F;
}

/* Contato */

#contact-section {
    margin-top: 10dvh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    height: 70dvh;
}

#contact-section p {
    font-size: 1.1em;
}

#form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
input:focus, textarea:focus, button:focus {
    outline: none;
}
.text-input {
    display: flex;
    align-items: center;
    padding: 0 5px;
    width: 495px;
    height: 3em;
    font-size: 1em;
}
.message-input {
    width: 495px;
    height: 100px;
    resize: none;
    padding: 5px 5px;
    font-size: 1em;
}
.submit-button {
    cursor: pointer;
    border: 3px solid black;
    padding: 10px 40px;
    font-weight: bold;
    transition: ease 0.3s;
    
}
.flex-align-right {
    width: 100%;
    display: flex;
    justify-content: right;
}